@page "/departments"
@using Microsoft.AspNetCore.Authorization
@using SummerForum.Client.Services
@using SummerForum.Client.Services.ServiceInterfaces
@using SummerForum.DataTransferContract.DTOs
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin, User")]
@inject IDepartmentService DepartmentService
@inject NavigationManager NavigationManager


<Container>
	<Virtualize Items="@DepartmentDtos">
		<Card>
			<CardBody>
				<CardTitle Size="3">
					@context.Description
				</CardTitle>
				<CardText>
					
				</CardText>
				<Button @onclick="ShowAllDiscussions" Color="Color.Primary" Margin="Margin.Is2.FromTop">
					See all discussions <Icon Name="IconName.ArrowRight" />
				</Button>
			</CardBody>
		</Card>
	</Virtualize>
</Container>



@code {

	private List<DepartmentDto> DepartmentDtos { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		DepartmentDtos.AddRange(await DepartmentService.GetManyAsync(0, 10));
	}

	private async Task ShowAllDiscussions()
	{
		NavigationManager.NavigateTo("/discussions");
	}

}
