@page "/user/posts"
@rendermode InteractiveServer
@using SummerForum.Client.Services
@using SummerForum.DataTransferContract.DTOs
@using Microsoft.AspNetCore.Authorization
@inject PostService PostService
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles="Admin, User")]

<PageTitle>User posts</PageTitle>

<Virtualize Items="@AllPosts">
	<Div class="col-12">
		<Div class="card">
			<Div class="card-body">
				<h1 class="card-text">Post id: @context.Id</h1>
				<h2>@context.Description</h2>
			</Div>
		</Div>
	</Div>
</Virtualize>




@code {

	private List<PostDto> AllPosts { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		AllPosts.AddRange(await PostService.GetManyAsync(0, 100));

	}

}
