@page "/access-denied"

@rendermode InteractiveServer

<Div></Div> 

<Div class="row">
	<Div class="col-12">
		<Div class="card">
			<Div class="card-body flex-column">
				<Div class="text-center">
					<span class="text-danger fw-bolder">You don´t have permission to access this page</span>
				</Div>
			</Div>
		</Div>
	</Div>
</Div>



@code {

}
