@page "/login"
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager navigationManager

<Div Margin="Margin.IsAuto.OnX" Width="Width.Is50">
	<Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom" TextAlignment="TextAlignment.Center">
		Sign in to your account
	</Heading>

	<Card Shadow="Shadow.Default">
		<CardBody>
			<EditForm Model="UserDto" OnValidSubmit="Authenticate" FormName="loginForm">
				<DataAnnotationsValidator/>

				<Div class="mb-3">
					<Label>Username</Label>
					<InputText @bind-Value="UserDto.UserName" class="form-control" placeholder="Username"></InputText>
					<ValidationMessage For="() => UserDto.UserName" />
				</Div>
				<Div class="mb-3">
					<Label>Password</Label>
					<InputText @bind-Value="UserDto.Password" class="form-control" placeholder="Password" type="password"></InputText>
					<ValidationMessage For="() => UserDto.Password" />
				</Div>
				<Div class="mb-3 text-center">
					<span class="text-danger">@errorMessage</span>

				</Div>
				<Div class="mb-3">
					<button type="submit" class="btn btn-primary">Login</button>
				</Div>
				<Field>
					Don’t have an account yet? <Anchor To="/register" TextColor="TextColor.Primary">Sign up</Anchor>
				</Field>
			</EditForm>
		</CardBody>
	</Card>
</Div>