@page "/login"
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager navigationManager

<h3>Login</h3>

<EditForm Model="UserDto" OnValidSubmit="Authenticate" FormName="loginForm">
	<DataAnnotationsValidator/>

	<Div class="mb-3 text-center flex-column">
		<h3>Login</h3>

	</Div>
	<Div class="mb-3">
		<Label>User name</Label>
		<InputText @bind-Value="UserDto.UserName" class="form-control" placeholder="Username"></InputText>
		<ValidationMessage For="() => UserDto.UserName" />
	</Div>
	<Div class="mb-3">
		<Label>Password</Label>
		<InputText @bind-Value="UserDto.Password" class="form-control" placeholder="Password" type="password"></InputText>
		<ValidationMessage For="() => UserDto.Password" />
	</Div>
	<Div class="mb-3 text-center">
		<span class="text-danger">@errorMessage</span>

	</Div>
	<Div class="mb-3">
		<button type="submit" class="btn btn-primary">Login</button>
	</Div>
</EditForm>