@page "/logout"


@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager

<Div class="row">
	<Div class="col-12">
		<Div class="card">
			<Div class="card-body flex-column">
				<Div class="text-center">
					<span class="text-danger fw-bolder">You have successfully logged out of SummerForum.</span>
				</Div>
			</Div>
		</Div>
	</Div>
</Div>

@code {
	[CascadingParameter]
	public HttpContext HttpContext { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		if (HttpContext.User.Identity.IsAuthenticated)
		{
			await HttpContext.SignOutAsync();
			navigationManager.NavigateTo("/logout", true);
		}
	}

}
